<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.8.2.72"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_10_Init">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="272"/>
  <Property Name="Index" Value="0"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Temp]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Temp"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[PumpControl]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="PumpControl"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="272"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="94979" Value="Temp. wlotowa"/>
          <Text ID="94980" Value="Temp. wylotowa"/>
          <Text ID="94982" Value="Przepływomierz"/>
          <Text ID="94983" Value="Akt. moc term."/>
          <Text ID="94984" Value="Pomiar temperatur"/>
          <Text ID="94985" Value="Przepływ cieczy"/>
          <Text ID="94986" Value="Moc termiczna"/>
          <Text ID="94987" Value="SYSTEM CHŁODZENIA WODNEGO"/>
          <Text ID="95838" Value="Częstotliwość"/>
          <Text ID="96963" Value="Napięcie pompy"/>
          <Text ID="97230" Value="Temp. zbiornika"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="94979" Value="Text_1"/>
          <Text ID="94980" Value="Text_1"/>
          <Text ID="94982" Value="Text_1"/>
          <Text ID="94983" Value="Text_1"/>
          <Text ID="94984" Value="Text_1"/>
          <Text ID="94985" Value="Text_1"/>
          <Text ID="94986" Value="Text_1"/>
          <Text ID="94987" Value="Text_9"/>
          <Text ID="95838" Value="Text_1"/>
          <Text ID="96963" Value="Text_1"/>
          <Text ID="97230" Value="Text_1"/>
        </TextLayer>
        <IndexMap>
          <Index ID="94979" Value="0"/>
          <Index ID="94980" Value="1"/>
          <Index ID="94982" Value="3"/>
          <Index ID="94983" Value="4"/>
          <Index ID="94984" Value="5"/>
          <Index ID="94985" Value="6"/>
          <Index ID="94986" Value="7"/>
          <Index ID="94987" Value="8"/>
          <Index ID="95838" Value="18"/>
          <Index ID="96963" Value="22"/>
          <Index ID="97230" Value="23"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="4"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="47"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="4"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="72"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="19"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="126"/>
          <Property Name="Width" Value="215"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="245"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="0"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="26"/>
          <Property Name="Width" Value="215"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="134"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="47"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Inlet.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="134"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="72"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Outlet.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="172"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="135"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="172"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.Flowmeter.flow]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="0"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="224"/>
          <Property Name="Width" Value="215"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Bump]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="GroupID" Value="6"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="480"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="135"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="245"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.PowerThermal.powerTerm]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="472"/>
          <Property Name="EndY" Value="12"/>
          <Property Name="GroupID" Value="6"/>
          <Property Name="StartX" Value="349"/>
          <Property Name="StartY" Value="12"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="129"/>
          <Property Name="EndY" Value="12"/>
          <Property Name="GroupID" Value="6"/>
          <Property Name="StartX" Value="6"/>
          <Property Name="StartY" Value="12"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Height" Value="71"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="4"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Width" Value="217"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="172"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="4"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="242"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="147"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="135"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="147"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.Flowmeter.frequency]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_14]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="144"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_14]"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="197"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="135"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="197"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.WaterPump.voltage]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_20]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="197"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_20]"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[ProgressBarBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="4"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="97"/>
          <Property Name="Width" Value="130"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="134"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="97"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Tank.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="85"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_3">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_20_Temp_trend]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_5">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_50_ChartFlow]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_6">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_40_PowerTerm]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_14">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_60_Freq]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_20">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_80_Voltage]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Temp].Control[Numeric_6]">
      <Property Name="Down" Value="Source[local].Layer[Temp].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[local].Layer[PumpControl].Control[Dropdown_1]"/>
      <Property Name="Right" Value="Source[local].Layer[PumpControl].Control[Dropdown_1]"/>
      <Property Name="Up" Value="Source[local].Layer[PumpControl].Control[Numeric_9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Temp].Control[Numeric_7]">
      <Property Name="Down" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[local].Layer[PumpControl].Control[Dropdown_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[PumpControl].Control[Numeric_6]">
      <Property Name="Down" Value="Source[local].Layer[PumpControl].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[local].Layer[Temp].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[local].Layer[Temp].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[local].Layer[Temp].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[PumpControl].Control[Numeric_9]">
      <Property Name="Down" Value="Source[local].Layer[PumpControl].Control[Dropdown_1]"/>
      <Property Name="Left" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[PumpControl].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[local].Layer[Temp].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[local].Layer[Temp].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[Temp].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[local].Layer[Temp].Control[Numeric_6]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[PumpControl].Control[Numeric_6]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[PumpControl].Control[Numeric_9]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[PumpControl].Control[Dropdown_1]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Temp].Control[Numeric_6]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Temp].Control[Numeric_7]"/>
  </TabSequence>
</Page>