<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.8.2.72"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_20_Temp_trend">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="272"/>
  <Property Name="Index" Value="1"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="272"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="0"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95014" Value="Wlot"/>
          <Text ID="95015" Value="Wylot"/>
          <Text ID="95016" Value="Powrót"/>
          <Text ID="97231" Value="SYSTEM CHŁODZENIA WODNEGO"/>
          <Text ID="97232" Value="Zbiornik"/>
          <Text ID="97758" Value="Skala max"/>
          <Text ID="98005" Value="Skala min"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95014" Value="Text_1"/>
          <Text ID="95015" Value="Text_1"/>
          <Text ID="95016" Value=""/>
          <Text ID="97231" Value="Text_9"/>
          <Text ID="97232" Value="Text_1"/>
          <Text ID="97758" Value="Text_1"/>
          <Text ID="98005" Value="Text_1"/>
        </TextLayer>
        <IndexMap>
          <Index ID="95014" Value="0"/>
          <Index ID="95015" Value="1"/>
          <Index ID="95016" Value="2"/>
          <Index ID="97231" Value="4"/>
          <Index ID="97232" Value="5"/>
          <Index ID="97758" Value="6"/>
          <Index ID="98005" Value="7"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001011" Name="Trend_1">
          <Property Name="Border" Value="Source[local].Border[Bump]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="220"/>
          <Property Name="Left" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Trend]"/>
          <Property Name="Top" Value="22"/>
          <Property Name="TrendConfig" Value="Source[local].Trend[TempInOut]"/>
          <Property Name="Width" Value="480"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="1"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="51"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="147"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="220"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="67"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="219"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Inlet.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="50"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="51"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="214"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99.99"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="220"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Outlet.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="50"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_7]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="182"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="2"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="245"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_7]"/>
          <Property Name="Width" Value="116"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Bump]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="GroupID" Value="8"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="480"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="472"/>
          <Property Name="EndY" Value="12"/>
          <Property Name="GroupID" Value="8"/>
          <Property Name="StartX" Value="349"/>
          <Property Name="StartY" Value="12"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="129"/>
          <Property Name="EndY" Value="12"/>
          <Property Name="GroupID" Value="8"/>
          <Property Name="StartX" Value="6"/>
          <Property Name="StartY" Value="12"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="229"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="283"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="220"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="229"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="357"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99.99"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="220"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gExtDev.TempMeter.Tank.temp]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="50"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="304"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="249"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[ControlActive]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="381"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="100"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="1250"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="249"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Source.Code.Visu.Visu.lVisu.Scale.tempScale]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="249"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="BackColor" Value="252"/>
          <Property Name="Border" Value="Source[local].Border[ControlActive]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="87"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="100"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="1250"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="249"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Source.Code.Visu.Visu.lVisu.Scale.tempMinScale]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="88"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_7">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_10_Init]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Trend_1]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_2]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
  </TabSequence>
</Page>